<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.interrogation.mapper.ChatRecordsMapper">
  <resultMap id="BaseResultMap" type="com.interrogation.pojo.entity.ChatRecords">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="send_user" jdbcType="INTEGER" property="sendUser" />
    <result column="receive_user" jdbcType="INTEGER" property="receiveUser" />
    <result column="type" jdbcType="TINYINT" property="type" />
    <result column="send_time" jdbcType="TIMESTAMP" property="sendTime" />
    <result column="content" jdbcType="LONGVARCHAR" property="content" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from chat_records
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.interrogation.pojo.entity.ChatRecords">
    insert into chat_records (id, send_user, receive_user, 
      type, send_time, content
      )
    values (#{id,jdbcType=INTEGER}, #{sendUser,jdbcType=INTEGER}, #{receiveUser,jdbcType=INTEGER}, 
      #{type,jdbcType=TINYINT}, #{sendTime,jdbcType=TIMESTAMP}, #{content,jdbcType=LONGVARCHAR}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.interrogation.pojo.entity.ChatRecords">
    update chat_records
    set send_user = #{sendUser,jdbcType=INTEGER},
      receive_user = #{receiveUser,jdbcType=INTEGER},
      type = #{type,jdbcType=TINYINT},
      send_time = #{sendTime,jdbcType=TIMESTAMP},
      content = #{content,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select id, send_user, receive_user, type, send_time, content
    from chat_records
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, send_user, receive_user, type, send_time, content
    from chat_records
  </select>
</mapper>