<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.interrogation.mapper.CommentsMapper">
  <resultMap id="BaseResultMap" type="com.interrogation.pojo.entity.Comments">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="interview_id" jdbcType="INTEGER" property="interviewId" />
    <result column="star" jdbcType="INTEGER" property="star" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="comment" jdbcType="LONGVARCHAR" property="comment" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from comments
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.interrogation.pojo.entity.Comments">
    insert into comments (id, interview_id, star, 
      create_time, update_time, comment
      )
    values (#{id,jdbcType=INTEGER}, #{interviewId,jdbcType=INTEGER}, #{star,jdbcType=INTEGER}, 
      #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, #{comment,jdbcType=LONGVARCHAR}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.interrogation.pojo.entity.Comments">
    update comments
    set interview_id = #{interviewId,jdbcType=INTEGER},
      star = #{star,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      comment = #{comment,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select id, interview_id, star, create_time, update_time, comment
    from comments
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, interview_id, star, create_time, update_time, comment
    from comments
  </select>
</mapper>