<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.interrogation.mapper.DictMapper">
  <resultMap id="BaseResultMap" type="com.interrogation.pojo.entity.Dict">
    <result column="id" jdbcType="BIGINT" property="id" />
    <result column="parent_id" jdbcType="BIGINT" property="parentId" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="value" jdbcType="INTEGER" property="value" />
    <result column="dict_code" jdbcType="VARCHAR" property="dictCode" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="is_deleted" jdbcType="BIT" property="isDeleted" />
  </resultMap>
 <select id="selectDict" parameterType="java.lang.Integer" resultType="java.lang.String">
   select name
    from dict
    where id = #{level}
 </select>
    <select id="selectDictByParentId" resultType="com.interrogation.pojo.dto.DictDTO">
        select id,`name`
        from dict
        where parent_id = #{parentId}
    </select>
</mapper>