<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.interrogation.mapper.InterviewRecordsMapper">
  <resultMap id="BaseResultMap" type="com.interrogation.pojo.entity.InterviewRecords">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="doctor_id" jdbcType="INTEGER" property="doctorId" />
    <result column="quary_time" jdbcType="VARCHAR" property="quaryTime" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="description" jdbcType="LONGVARCHAR" property="description" />
    <result column="suggestion" jdbcType="LONGVARCHAR" property="suggestion" />
  </resultMap>
  <insert id="insertInterviewRecords" parameterType="com.interrogation.pojo.entity.InterviewRecords" useGeneratedKeys="true" keyProperty="id">
    insert into interview_records (id, user_id, doctor_id,
      patient_age,patient_sex,patient_name,
      quary_time, create_time, update_time, 
      description, suggestion)
    values (#{id,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, #{doctorId,jdbcType=INTEGER},
      #{patientAge},#{patientSex},#{patientName},
      #{quaryTime,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, 
      #{description,jdbcType=LONGVARCHAR}, #{suggestion,jdbcType=LONGVARCHAR})
  </insert>
</mapper>